.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
    display: flex;
    align-items: center;
    border: 1px solid;
}

.developerHeader {
    display: flex;
    border: 1px solid;
    align-items: center;
}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
}

.loading {

}