.App {
    --header_height: 60px;
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 40px rgba(29, 33, 38, 0.13), 0 1px 2px rgba(29, 33, 38, 0.1);
    z-index: 2;

}

.hw {
    margin: 15px 15px 15px 70px;
    border-top: #D9D9D9 solid 1px;
    border-bottom: #D9D9D9 solid 1px;
    padding: 90px 0 ;
}

.hw_stand {
    display: flex;
    justify-content: space-between;
}

.hwTitle {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin: 131px 0 10px 70px;
}